{% extends 'base.html' %}

{% block content %}



<h1 class="text-center" style= "color:blue; font-size: 500%;">SERVIFY</h1>
<br>
<center>
<br>

<h2 style = "text-align: left;"> You can provide or get services by using this platform! </h2>
<br>
<h2 style = "text-align: left;">You can create events by choosing a location!</h2>
<br>
<h2 style = "text-align: left;">It is free and only medium of exchange is hour!</h2>
<br>
<h2 style = "text-align: left;">All you have to do is Sign Up!</h2>



{%if user.is_authenticated %}



{%endif%}

  {% endblock %}
