{% extends 'base.html' %}

{% block content %}



    <h1>List Services</h1>
    
    {% for service in service_list %}

    <div class="card">
        <div class="card-header">
            <a href="{% url 'show_service' service.id %}">     {{ service }}</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Venue: {{service.venue}}</h5>
          <p class="card-text">

            <ul>
                
                <li>on <strong>{{service.date}}</strong> at <strong>{{service.time}}</strong></li>
                <li>Credit:         <strong>{{service.credit}}</strong></li>
                <li>Provided by:    </strong>{{service.provider}}</strong></li>
                
            </ul>

          </p>
        </div>
        {% if user.is_authenticated %}
        {% if user == event.provider %}
        <div class="card-footer text-muted">
            <a href="{% url 'update_service' service.id %}" class= "btn btn-outline-secondary btn-sm">Update Service</a>
            <a href="{% url 'delete_service' service.id %}" class= "btn btn-outline-danger btn-sm">Delete Service</a>
            {% endif %}
            {% endif %}
        </div>
      </div>


    <br>
    {% endfor %}

    {% endblock %}