<!DOCTYPE html>
<html>
  <head>
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    {% block styles %}
    {% endblock %}
    
    <title>{% block title %} Time Street {% endblock %}</title>


    
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

  </head>

  <body>

    {% include 'profiles/messages.html' %}

    {% block content %} 
    {% endblock %} 

    {% block js %} 
    {% endblock %}

  </body>
</html>



AIzaSyA6k5eadUusSfdDx5GzCXFW_HlBekTN_VU