{% extends 'base.html' %}

{% block content %}



<h2 class="text-center">My Services</h2>
<br>

<ul>
{% for service in services %}
<div class="card">
  <div class="card-header">
      <a href="{% url 'show_service' service.id %}">     {{ service }}</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Venue: {{service.venue}}</h5>
    <p class="card-text">
      <br>
      {% if service.service_picture %}
      <img src="{{service.service_picture.url}}" width = 300>
      {% endif %}
      <ul>
          
          <li>on <strong>{{service.date}}</strong> at <strong>{{service.time}}</strong></li>
          <li>Credit:         <strong>{{service.credit}}</strong></li>
          {% if user.profile_picture %}

          <li>Provided by:    </strong><a href="{% url 'show_profile_page' service.provider.id %}">{{service.provider}}</a></strong> <img src={{service.provider.profile_picture.url}} class="rounded-circle" width = 25 height= auto></li>
          {% else %}
          <li>Provided by:    </strong><a href="{% url 'show_profile_page' service.provider.id %}">{{service.provider}}</a></strong> </li>
          {% endif %}


      </ul>

    </p>
  </div>
  {% if user.is_authenticated %}
  {% if user == service.provider %}
  <div class="card-footer text-muted">
      <a href="{% url 'update_service' service.id %}" class= "btn btn-outline-secondary btn-sm">Update Service</a>
      <a href="{% url 'delete_service' service.id %}" class= "btn btn-outline-danger btn-sm">Delete Service</a>
    </div>
      {% endif %}
      {% endif %}
  
</div>


<br>


{% endfor %}
</ul>

  {% endblock %}
