{% extends 'base.html' %}

{% block content %}


<div class="card">
    <div class = "card-header">
       <strong>{{ service }}</strong> 
      
    </div>
<div class = "card-body">
     <h5 class = "card-title">  </h5>
    <p class="card-text">
    
      
    {% if service.service_picture %}
    <img src="{{service.service_picture.url}}" width = 500>
    {% endif %}

    <p></p>
    
    <p>Date: <strong>{{service.date}}</strong></p>
    <p>Time: <strong>{{service.time}}</strong></p>
    <p>Description: <strong>{{service.description}}</strong></p>
    <p>Venue: <strong>{{service.venue}}</strong></p>
    <p>Provided by: <strong>{{service.provider}}</strong></p>
    <p>Credit: <strong>{{service.credit}}</strong></p>
    <p>Attendees:      </p>
                {% for user in service.attendees.all %}
                <strong>{{user}}</strong>
                <br>
                {% endfor %}
                <a href="{% url 'update_service' service.id %}" class= "btn btn-outline-secondary btn-sm">Update Service</a>
                <a href="{% url 'delete_service' service.id %}" class= "btn btn-outline-danger btn-sm">Delete Service</a>
    <br>
    <!-- {% if service.service_picture %}
    {{service.service_image}}
    {% endif %}
  {% endblock %} -->