{% extends 'base.html' %}

{% block content %}


<div class="card">
    <div class = "card-header">
       <strong>{{ service2 }}</strong> 
      
    </div>
<div class = "card-body">
     <h5 class = "card-title">  </h5>
    <p class="card-text">
      
    <p></p>
    
    <p>Date: <strong>{{service2.date}}</strong></p>
    <p>Time: <strong>{{service2.time}}</strong></p>
    <p>Description: <strong>{{service2.description}}</strong></p>
    <p>Venue: <strong>{{service2.venue}}</strong></p>
    <p>Provided by: <strong>{{service2.provider}}</strong></p>
    <p>Credit: <strong>{{service2.credit}}</strong></p>
    <p>Attendees:      </p>
                {% for user in service2.attendees.all %}
                <strong>{{user}}</strong>
                <br>
                {% endfor %}
    
    <br>
    <!-- {% if service.service_picture %}
    {{service.service_image}}
    {% endif %}
  {% endblock %} -->