{% extends 'base.html' %}

{% block content %}


<div class="card">
    <div class = "card-header">
       <strong>{{ event }}</strong> 
      
    </div>
<div class = "card-body">
     <h5 class = "card-title">  </h5>
    <p class="card-text">
      
    <p></p>
    
    <p>Date: <strong>{{event.date}}</strong></p>
    <p>Time: <strong>{{event.time}}</strong></p>
    <p>Description: <strong>{{event.description}}</strong></p>
    <p>Venue: <strong>{{event.venue}}</strong></p>
    <p>Provided by: <strong>{{event.provider}}</strong></p>
    <p>Credit: <strong>{{event.credit}}</strong></p>
    <p>Attendees:      </p>
                {% for user in event.attendees.all %}
                <strong>{{user}}</strong>
                <br>
                {% endfor %}
    
    <br>
    <!-- {% if event.event_picture %}
    {{event.event_image}}
    {% endif %}
  {% endblock %} -->