{% extends 'base.html' %}

{% block content %}


<div class="card">
    <div class = "card-header">
       <strong>{{ event }}</strong> 
     
      

    </div>
<div class = "card-body">
     <h5 class = "card-title">  </h5>
    <p class="card-text">
      
    <p></p>

    {% if event.event_picture %}
    <img src="{{event.event_picture.url}}" width = 500>
    {% endif %}

    <br>
    <br>
    <p>Date: <strong>{{event.date}}</strong></p>
    <p>Time: <strong>{{event.time}}</strong></p>
    <p>Description: <strong>{{event.description}}</strong></p>
    <p>Venue: <strong>{{event.venue}}</strong></p>
    <p>Capacity: <strong>{{event.capacity}}</strong></p>
    
    <p>Provided by: <a href="{% url 'show_profile_page' event.provider.id %}"><strong>{{event.provider}}</strong>  <img src={{event.provider.profile_picture.url}} class="rounded-circle" width = 25 height= auto></p></a> 

    <p>Attendees:      </p>
                {% for user in event.attendees.all %}
                <strong>{{user}}</strong>
                <br>
                {% endfor %}
    
                {% if user == event.provider  %}
                <div>
                  <p>
                    {% if not assigned_user %}
                      Applied users:</p>
                        {% for user in event.applied_ones.all %}
                          <div style="display: flex; padding: 2px; padding-left: 10px;">
                            <strong>{{user}}</strong><br/>
                            <a href="{% url 'confirm_applied_event' event.id user.id %}" style="margin-left: 5px;" class= "btn btn-outline-danger btn-sm">Confirm</a>
                          </div>
                        {% endfor %}
                    {% else %}
                      <div>
                        <span>
                          Assinged user: {{ assigned_user }}
                        </span>
                      </div>
                    {% endif %}
                  </p>
                </div>
          
                {% if not assigned_user %}
                  <div>
                    <a href="{% url 'update_event' event.id %}" class= "btn btn-outline-secondary btn-sm">Update event</a>
                    <a href="{% url 'delete_event' event.id %}" class= "btn btn-outline-danger btn-sm">Delete event</a>
                  </div>
                {% endif %}
          
              {% else %}
                {% if not assigned_user %}
          
          
                {% if is_user_applied %}
                  <div>
                    <a href="{% url 'cancel_event' event.id %}" class= "btn btn-outline-secondary btn-sm">Cancel</a>
                  </div>
                {% else %}
                  {% if can_user_apply %}
                    <div>
                      <a href="{% url 'apply_event' event.id %}"  class= "btn btn-outline-secondary btn-sm">Apply</a>
                    </div>
                  {% else %}
                    <span>
                      yetersiz kredi
                    </span>
                  {% endif %}
                {% endif %}
          
                  
                {% else %}
                    {% if user == assigned_user %}
                    <span>Assined to you</span>
                    {% else %}
                    <span>Assinged to another user</span>
                    {% endif %}
                {% endif %}
          
              {% endif %}
              {% endblock %}
          