{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if user == event.provider %}


    <h1>Update Service</h1>
        <br/><br>
    
        {{ service }}
    
        <form action="" method = POST enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
<br>
        <input type = "submit" value="Update" class="btn btn-secondary"> 

        {% else %}
        <h2>Access Denied, only the event provider can update the contents of this event</h2>
        <br>
        Logged In User: {{ user }}
        <br>
        Provider: {{event.provider}}
        <br/><br>
        {% endif %}

{% else %}
            <h1>Sorry!, You must be logged in to view this page...</h1>

            <a href="{%url 'login' %}">Login Here</a>
       {% endif %}

    </form>

    

  {% endblock %}